<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <a href="/about"> About us</a>
    <style>
    .Btn{
        width: 100%;
        box-sizing: border-box;
        padding: 90x;

    }
    .head{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        background-color: rgb(170, 160, 179);
        text-decoration-color: black;
        margin-top: 10px;
        margin-bottom: 5px;
    

    }
    .head a {
        text-decoration: none;
        list-style-type: none;
    }
    .head h3{
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>
<div class="Btn">
    <header class="head">
        <ul><h3><a href="#">Home</a></h3></ul>
        <ul><h3><a href="#">Product</a></h3></ul>
        <ul><h3><a href="#">About Us</a></h3></ul>
     </header>
    </div> 

</body>
</html>