<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="images/NNPP.png" >
    <img src="images\ramal-wickramasinghe-OjMyiwfviQ4-unsplash.jpg" width="50%">
    <h1><%=username%></h1>
    <hr>
    <p><%=email%></p>
    <hr>
    <h1><%=name%></h1>
<a href="/allUsers">View Others</a>
</body>
</html>